<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"><img src="/assets/images/gift.png" height="125" width="125"
        alt="Keep on Giftin'">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="viewdash btn btn-outline-primary" data-id={{currentUser}}>Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/newprofile" class="btn btn-outline-primary">Create New Profile</a>
        </li>
        <li class="nav-item">
          <a href="/addresslist" class="address-list btn btn-outline-primary">Address List</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-primary">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container col-md-10">
  <ul class="nav nav-tabs">
    <li class="active">
      <button class="btn"><a href="#1" data-toggle="tab">Valentine's Day</a></button>
    </li>
    <li>
      <button class="btn btn-primary-outline"><a href="#2" data-toggle="tab">Hanukkah</a></button>
    </li>
    <li>
      <button class="btn btn-primary-outline"><a href="#3" data-toggle="tab">Christmas</a></button>
    </li>
    <li>
      <button class="btn btn-primary-outline"><a href="#4" data-toggle="tab">Halloween</a></button>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <div class="col-lg-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
            </tr>
            {{#if address.valentines_day}}
            {{#each address}}
            <tr>
              <td scope="col">{{this.firstName}}
              <td scope="col">{{this.email}}</td>
              <td scope="col">{{this.phoneNumber}}</td>
            </tr>
            {{/each}}
            {{/if}}

          </thead>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
          {{#each address}}
          {{#if this.hanukkah}}
          <tr>
            <td scope="col">{{this.firstName}}
            <td scope="col">{{this.email}}</td>
            <td scope="col">{{this.phoneNumber}}</td>
          </tr>
          {{/if}}
          {{/each}}

        </thead>
      </table>
    </div>
    <div class="tab-pane" id="3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
          {{#each address}}
          {{#if this.christmas}}
          <tr>
            <td scope="col">{{this.firstName}}
            <td scope="col">{{this.email}}</td>
            <td scope="col">{{this.phoneNumber}}</td>
          </tr>
          {{/if}}
          {{/each}}

        </thead>
      </table>
    </div>
    <div class="tab-pane" id="4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
          {{#each address}}
          {{#if this.halloween}}
          <tr>
            <td scope="col">{{this.firstName}}
            <td scope="col">{{this.email}}</td>
            <td scope="col">{{this.phoneNumber}}</td>
          </tr>
          {{/if}}
          {{/each}}

        </thead>
      </table>
    </div>
  </div>
</div>


<script src="/assets/js/addresslist.js"></script>