<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Keep on Giftin'</a>
            <a class="active"><a href="/">Dashboard/Home</a>
                <a href="/newprofile">Create New Profile</a>
                <a href="/logout">Log Out</a>
                </ul>
        </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Giftin Dashboard</h4>
        </div>
    </div>
    {{!-- Render cards for individual profiles --}}
    <div class="row">
        <div class="col-9">
            <div class="row d-flex">
                {{#each profile}}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{this.relationship}}</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="/view" class="card-link profile-link" data-id={{this.id}}>Profile Page</a>
                            <a href="/editprofile" class="card-link">Edit</a>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-2 sidebar ml-5 pl-1">
            <h6>Upcoming events</h6>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16">
                <path
                    d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z" />
            </svg>
            <div class="list-group">
                {{#each event}}
                <p href="#" class="list-group-item list-group-item-action active">{{this.name}} on {{this.date}}</p>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-12">
            <p>Create a profile <a href="/newprofile">here</a></p>
        </div>
    </div>
</div>

<script src="/assets/js/dashboard.js"></script>