<div> 

  <h1>{{profile.firstName}} {{profile.lastName}}</h1>
  <h2>{{profile.relationship}}</h2>
   <h2>{{profile.birthday}}</h2>
   <p>{{profile.email}}</p>
   <p>{{profile.phoneNumber}}</p>

  <p data-id={{profile.id}}>Update profile <a id="edit-profile-link" href="/editprofile" type="click">here.</a></p>
  <p data-id={{profile.id}} id="new-event-link">Add an upcoming event <a href="/newevent/{{profile.id}}">here.</a></p>

</div>
</div>

<script src="/assets/js/view.js"></script>
